{% extends "layout.jinja2" %}
{% block content %}
    <div class="container" style="margin-top:10px;">
    <div class="card">
  <div class="card-body">
      <h3>Sign in</h3>
      {% if error %}
      <div class="alert alert-danger" role="alert">
          We're sorry, we could not find the username or password in our records, please try again:
      </div>
      {% endif %}
      {% if banned %}
      <div class="alert alert-danger" role="alert">
          This account has been banned.
      </div>
      {% endif %}

        <form method="post">
            <div class="form-group">
            <label for="uname">Email:</label>
            <input type="email" class="form-control" placeholder="bob@example.com" name="email" required>
            </div>
            <div class="form-group">
            <label for="psw">Password:</label>
            <input type="password" class="form-control" placeholder="Enter Password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary pull-right">Login</button>
            <small id="emailHelp" class="form-text text-muted">Don't have an account? Sign up <a href="/signup">now</a>!</small>
            <p></p>
        </form>
  </div></div>
    </div>
{% endblock %}
