{% extends "layout.jinja2" %}
{% block content %}
    <div class="container" style="margin-top:10px;">
    <div class="card">
  <div class="card-body">
      <h3>Subcategory: {{ subcategory }}</h3>
        <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Owner</th>
            <th scope="col">Location</th>
          </tr>
        </thead>
        <tbody>
          {% for item in items %}
            <tr>
              <th scope="row">{{ item[0] }}</th>
              <td>{{ item[1] }}</td>
              <td>{{ item[2] }}</td>
              <td>{{ item[3] }}</td>
              <td><a class="btn btn-primary" href="/view_item/{{ item.id }}" role="button">View details</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
     </div>
    </div>
    </div>
{% endblock %}