{% extends "layout.jinja2" %}
{% block content %}
    <div class="container" style="margin-top:10px;">
    {% if error %}
        <p class="help-block" style="font-size:36px;color:red;">ERROR: {{ error }}</p>
    {% endif %}
    <div class="card">
  <div class="card-body">
      {% if edit %}
      <h3>Edit an item</h3>
      {% else %}
      <h3>Loan out an item</h3>
      {% endif %}
      <form method="post">
            <div class="form-group">
            <label for="name">Name:</label>
            {% if item %}
                <input type="text" value="{{ item[1] }}" class="form-control" name="name" required>
            {% else %}
                <input type="text" class="form-control" name="name" required>
            {% endif %}
            </div>

            <div class="form-group">
            <label for="location">Location:</label>
            {% if item %}
                <input type="text" value="{{ item[3] }}" class="form-control" name="location" required>

            {% else %}
                <input type="text" class="form-control" name="location" required>
            {% endif %}
            </div>

            <div class="form-group">
            <label for="latitude">Latitude:</label>
            {% if item %}
                <input type="number" value="{{ item[4] }}" step="any" class="form-control" name="latitude" required>

            {% else %}
                <input type="number" step="any" class="form-control" name="latitude" required>
            {% endif %}
            </div>

            <div class="form-group">
            <label for="longitude">Longitude:</label>
            {% if item %}
                <input type="number" value="{{ item[5] }}" step="any" class="form-control" name="longitude" required>

            {% else %}
                <input type="number" step="any" class="form-control" name="longitude" required>
            {% endif %}
            </div>

            <div class="form-group">
            <label for="description">Description:</label>
            {% if item %}
                <input type="text" value="{{ item[6] }}" class="form-control" name="description" required>

            {% else %}
                <input type="text" class="form-control" name="description" required>
            {% endif %}
            </div>

            <div class="form-group">
            <label for="date_start">Starting date:</label>
            {% if item %}
                <input type="date" value="{{ item[7] }}" class="form-control" name="date_start" required>

            {% else %}
                <input type="date" class="form-control" name="date_start" required>
            {% endif %}
            </div>

            <div class="form-group">
            <label for="date_end">Ending date:</label>
            {% if item %}
                <input type="date" value="{{ item[8] }}" class="form-control" name="date_end" required>

            {% else %}
                <input type="date" class="form-control" name="date_end" required>
            {% endif %}
            </div>
            <label for="category_group">Categories:</label>
          <div class="btn-group-toggle" data-toggle="buttons" name="category_group">
          {% for cat_name, cat_url in categories %}
                {% if cat_name in selected_categories %}
                <label class="btn btn-secondary active">
                    <input type="checkbox" checked autocomplete="off" name={{ cat_url }}> {{ cat_name }}
                </label>
                {% else %}
                <label class="btn btn-secondary">
                    <input type="checkbox" autocomplete="off" name={{ cat_url }}> {{ cat_name }}
                </label>
                {% endif %}
          {% endfor %}
          </div>
            <br>
          {% if edit %}
                <button type="submit" class="btn btn-primary pull-right">Edit Item</button>
          {% else %}
                <button type="submit" class="btn btn-primary pull-right">Loan out</button>
          {% endif %}
      </form>

  </div></div>
    </div>
{% endblock %}