{% extends "layout.jinja2" %}
{% block content %}
    <div class="container" style="margin-top:10px;">
    <div class="card">
  	<div class="card-body">

      <h3>Item details</h3>
        <p>
            <a href="{{ url_for('item_module.bid_item', owner=item[2], name=item[1], description=item[3], item_id=item[0]) }}" style="color:black;">Name: {{ item[1] }}</a>
            <br> Owner: <a href="{{ url_for('user_module.user_profile', owner=item[2]) }}">{{ item[4] }} </a> <br> Description: {{ item[3] }} <br></p>
        <p>
            {% if highest_bids and lowest_bids and average_bid %}
                Highest bid(s):
                {% for bid in highest_bids %}
                    <br> {{ bid[2] }} by <a href="{{ url_for('user_module.user_profile', owner=bid[1]) }}">{{ bid[0] }} </a>
                {% endfor %}
                <br>
                Lowest bid(s):
                {% for bid in lowest_bids %}
                    <br> {{ bid[2] }} by <a href="{{ url_for('user_module.user_profile', owner=bid[1]) }}">{{ bid[0] }} </a>
                {% endfor %}
                <br>
                Average bid: {{ average_bid }}
            {% else %}
            There are currently no bids for this item.
            {% endif %}
        </p>
        <a class="btn btn-primary" href="{{ url_for('item_module.bid_item', name=item[1], owner=item[2], description=item[3], item_id=item[0]) }}" role="button">Interested</a>
     </div>
    </div>
{% endblock %}