{% extends "layout.jinja2" %}
{% block content %}
    <div class="container" style="margin-top:10px;">
    <div class="card">
  	<div class="card-body">

      <h3>Item details</h3>
            <a href="{{ url_for('item_module.bid_item', owner=item[2], name=item[1], description=item[3], item_id=item[0]) }}" style="color:black;">Name: {{ item[1] }}</a>
            <br> Owner: <a href="{{ url_for('user_module.user_profile', owner=item[2]) }}">{{ item[2] }} </a> <br> Description: {{ item[3] }} <br>
            {% if logged_in %}
                <a class="btn btn-primary" href="{{ url_for('item_module.edit_item_route', item_id=item[0]) }}" role="button">Edit Item</a>
                <a class="btn btn-primary" href="{{ url_for('item_module.delete_item_route', item_id=item[0]) }}" role="button">Delete Item</a>
            {% endif %}
        </p>
            
        <p>
            {% if highest_bids and lowest_bids and average_bid %}
                Highest bid(s):
                {% for bid in highest_bids %}
                    <br> {{ bid[2] }} by <a href="{{ url_for('user_module.user_profile', owner=bid[1]) }}">{{ bid[0] }} </a>
                {% endfor %}
                <br>
                Lowest bid(s):
                {% for bid in lowest_bids %}
                    <br> {{ bid[2] }} by <a href="{{ url_for('user_module.user_profile', owner=bid[1]) }}">{{ bid[0] }} </a>
                {% endfor %}
                <br>
                Average bid: {{ average_bid }}
            {% else %}
            There are currently no bids for this item.
            {% endif %}
        </p>
        {% if can_bid %}
        <a class="btn btn-primary" href="{{ url_for('item_module.bid_item', name=item[1], owner=item[2], description=item[6], item_id=item[0]) }}" role="button">
                {% if bid_placed %}
                    Update bid
                {% else %}
                    Interested
                {% endif %}
        </a>
        {% endif %}
        {% if not g.user %}
            <a class="btn btn-primary" href="/login">Interested</a>
        {% endif %}
        <br><br>
        <h4>Bidders have also bid for:</h4>
        <p>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Owner</th>
                    <th scope="col">Location</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in related_items %}
                    <tr>
                      <th scope="row">{{ item[0]}}</th>
                      <td>{{ item[1] }}</td>
                      <td>{{ item[2] }}</td>
                      <td>{{ item[3] }}</td>
                      <td><a class="btn btn-primary" href="/view_item/{{ item[0] }}" role="button">View details</a></td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
        </p>
    </div>
     </div>
    </div>
{% endblock %}