{% extends "layout.jinja2" %}
{% block content %}
    <div class="container" style="margin-top:10px;">
    <div class="card">
  	<div class="card-body">

      <h3>Item details</h3>
        <p>
            <a href="{{ url_for('item_module.bid_item', owner=item[2], name=item[1], description=item[3], item_id=item[0]) }}" style="color:black;">Name: {{ item[1] }}</a>
            <br> Owner: <a href="{{ url_for('user_module.user_profile', owner=item[2]) }}">{{ item[4] }} </a> <br> Description: {{ item[3] }} <br></p>
        <p>
            {% if current_bid %}
            Current bid: {{ current_bid[2] }} by <a href="{{ url_for('user_module.user_profile', owner=current_bid[1]) }}">{{ current_bid[0] }} </a>
            {% else %}
            There are currently no bids for this item.
            {% endif %}
        </p>
        <a class="btn btn-primary" href="{{ url_for('item_module.bid_item', name=item[1], owner=item[2], description=item[3], item_id=item[0]) }}" role="button">Interested</a>
     </div>
    </div>
{% endblock %}